{
  "healthcheck": {
    "status": 200,
    "message": "hello, World!"
  },

  "boards": [
    {
      "id": "ddd0714e-ea7c-4b8e-bb10-6da29b1186c9",
      "title": "Todo"
    },
    {
      "id": "695fb9e1-af36-4e71-8706-64e363a12323",
      "title": "On Progress"
    },
    {
      "id": "8a52085f-7c3e-450d-9257-a642ee067bd3",
      "title": "Done"
    },
    {
      "id": "c19d4218-e0b8-40cd-9fe1-35dbf0240af4",
      "title": "Issue"
    }
  ]
}
